/*Setter standardstiler for elementene*/
*, ::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Setter høyden og bredden for å fylle hele skjermen*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(195, 154, 223);
    text-align: center;
}

/*Stil for hovedoverskriften/header*/
h1 {
    font-size: 72px;
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Stil for knappene*/
button {
    margin: 10px;
    padding: 9px 18px;
    cursor: pointer;
    font-family: 'Titan One', sans-serif;
    background-color: #6F4E37;
    color: #ffff;
}

p {
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
    font-size: 22px;
}

/*Stil for inventory, meny, produksjon, og salg*/
#produksjon, #inventory, #meny {
    display: inline-block; /*For å tillate flate layout*/
    margin: auto;
    width: 25rem;
    padding: 20px;
    height: 30rem;
    border: 2px solid #6F4E37;
    border-radius: 10px;
    background-color: #bfa290;
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
}

/*Stil for div elementet container*/
#bod-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

/*Responsivt media query for mobilvisning når skjermen blir smalere*/
@media (max-width: 768px) {
    .header, #bod-container {
        flex-direction: column;
    }
}

/*Stil til meny-div-elemntet bildene*/
#bilderContainer {
    display: grid;
    justify-content: center;
    margin: auto;
    padding: auto;
}

#section1 {
    display: flex;
    justify-content: center;
} 

#section2 {
    display: flex;
    justify-content: center;
}

/*Stil til produksjon skiltet*/
#skilt1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 200px;
}

/*Stil for container til inventory div elementet*/
#imgContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
}