*,::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(195, 154, 223);
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 72px;
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
}

.header {
    display: flex;
    justify-content: center;
}

#produksjon {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #6F4E37;
    border-radius: 10px;
    background-color: #bfa290;
}

button {
    margin: 10px;
    padding: 9px 18px;
    cursor: pointer;
    font-family: 'Titan One', sans-serif;
    background-color: #6F4E37;
    color: #ffff;
}

p {
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
    font-size: 22px;
}

#varsel {
    border: 2px solid #6F4E37;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
    background-color: #dc747d;
    font-family: 'Titan One', sans-serif;
    color: #6F4E37;
}

#inventory {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #6F4E37;
    border-radius: 10px;
    background-color: #bfa290;
}

#bod-container {
    display: flex;
    justify-content: center;
    border: solid 1px brown;
}